.productPage {
    display: flex;
    padding: 20px;
    gap: 20px;
}

#productImg {
    width: 30%;
    height: 60%;
    border-radius: 16px;
}

.productPageDesc {
    display: flex;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.productPageButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.productPageButton {
    background-color: #FAF0E6;
    width: 250px;
    height: 50px;
    border-radius: 16px;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

#cartButton:hover {
    background-color: #FFD9B3;
}

#buyButton:hover {
    background-color: #FFBF80;
}

#cartButton:active {
    background-color: #FFFFFF;
    border: 2px solid #FFD9B3;
}

#buyButton:active {
    background-color: #FFFFFF;
    border: 2px solid #FFBF80;
}

.spiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1320px;
}