.input {
    height: 50px;
    width: 600px;
    border-radius: 35px;
    background-color: #EBE7E7;
    font-size: 16px;
    border: none;
    padding-left: 20px;
}

.SearchBarModal {
    width: 600px;
    padding: 10px;
    background-color: #EBE7E7;
    border-top: 1px black solid;
    
}

.SearchItemImg {
    height: 40px;
    width: 50px;
}

.SearchBarItems {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-height: 380px;
    overflow: scroll;
}
.SearchBarItem{
    height: 55px;
    width: 580px;
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 16px;

}