.products {
    text-align: center; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1070px;
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px;
}
.select-category{
    display: flex;
    justify-content: center;
    width: 250px;
    border-right: 1px solid ;
    padding: 20px;
    max-width: 250px;

}
.product-list{
    display: flex;

}




.select-category select{
    width: 200px;
    background-color: #D9D9D9;
    border-radius: 16px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border: none;
}