.products {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    gap: 100px;
    padding: 20px;
}
.select-category{
    display: flex;
    justify-content: center;
    width: 250px;
    border-right: 1px solid ;
    padding: 20px;

}
.product-list{
    display: flex;
}



.select-category select{
    width: 200px;
    height: 40px;

}